@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background-color: #e5e5e5;
  font-family: "Merriweather", sans-serif;
  overflow-x: hidden;
}

.nav-open {
  transform: translateX(0);
}

.animate {
  animation: phone-Jump 3s cubic-bezier(0.8, 0, 1, 1) 0s infinite;
}

@keyframes phone-Jump {
  0%,
  100% {
    transform: translateY(-3%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
